In [7]:
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import pandas
from sklearn.svm import SVC
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, precision_recall_curve
import csv
import math

In [8]:
df  = pandas.read_csv('train.csv')

In [9]:
df = df.drop(['Cabin','Embarked'], axis=1)

In [11]:
df.dropna()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000
30,31,0,1,"Uruchurtu, Don. Manuel E",male,40.0,0,0,PC 17601,27.7208
33,34,0,2,"Wheadon, Mr. Edward H",male,66.0,0,0,C.A. 24579,10.5000
34,35,0,1,"Meyer, Mr. Edgar Joseph",male,28.0,1,0,PC 17604,82.1708
35,36,0,1,"Holverson, Mr. Alexander Oskar",male,42.0,1,0,113789,52.0000
37,38,0,3,"Cann, Mr. Ernest Charles",male,21.0,0,0,A./5. 2152,8.0500
38,39,0,3,"Vander Planke, Miss. Augusta Maria",female,18.0,2,0,345764,18.0000
...,...,...,...,...,...,...,...,...,...,...
856,857,1,1,"Wick, Mrs. George Dennick (Mary Hitchcock)",female,45.0,1,1,36928,164.8667
857,858,1,1,"Daly, Mr. Peter Denis",male,51.0,0,0,113055,26.5500
858,859,1,3,"Baclini, Mrs. Solomon (Latifa Qurban)",female,24.0,0,3,2666,19.2583
860,861,0,3,"Hansen, Mr. Claus Peter",male,41.0,2,0,350026,14.1083
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500

In [14]:
labels = []
features = []
for index, row in df.iterrows():
    X = []
    X.append(row['PassengerId'])
    X.append(row['Pclass'])
    
    if row['Sex'] == 'male':
        X.append(0)
    else:
        X.append(1)
    X.append(row['SibSp'])
    X.append(row['Parch'])
    
    va = int (row['Fare'])
    X.append(row['Fare'])
    
    features.append(X)
    labels.append(row['Survived'])

In [21]:
num = len(features)
split = int(0.7 * num)

labels_train = np.array(labels[:split]).astype(np.float64)
features_train = np.array(features[:split]).astype(np.float64)

labels_test = np.array(labels[split:]).astype(np.float64)
features_test = np.array(features[split:]).astype(np.float64)

print labels_test

classifier = LogisticRegression()
classifier.fit(features_train,labels_train)
print classifier.score(features_train,labels_train)

predictions = classifier.predict(features_test)


print predictions
print accuracy_score (labels_test, predictions)

[ 0.  0.  0.  0.  1.  0.  0.  1.  0.  1.  0.  0.  1.  0.  0.  0.  0.  0.
  1.  0.  1.  1.  1.  0.  1.  0.  1.  0.  1.  0.  1.  0.  0.  0.  0.  0.
  0.  1.  0.  0.  0.  1.  0.  0.  0.  0.  1.  1.  0.  0.  1.  0.  0.  0.
  1.  0.  1.  0.  1.  0.  0.  0.  0.  0.  0.  0.  1.  1.  1.  1.  0.  0.
  0.  0.  1.  0.  0.  1.  1.  0.  0.  0.  0.  1.  1.  1.  1.  1.  0.  1.
  0.  0.  0.  1.  1.  0.  0.  1.  0.  0.  0.  1.  0.  1.  1.  0.  0.  1.
  0.  0.  0.  0.  0.  0.  1.  0.  0.  1.  0.  1.  0.  1.  0.  0.  1.  0.
  0.  1.  1.  0.  0.  1.  1.  0.  0.  0.  1.  0.  0.  1.  1.  0.  1.  0.
  0.  0.  0.  0.  0.  0.  0.  1.  0.  0.  1.  0.  1.  1.  1.  0.  0.  0.
  0.  1.  0.  1.  0.  0.  0.  0.  0.  0.  0.  1.  1.  0.  0.  0.  1.  1.
  1.  1.  0.  0.  0.  0.  1.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  1.
  1.  0.  1.  0.  0.  0.  1.  1.  1.  1.  1.  0.  0.  0.  1.  0.  0.  1.
  1.  0.  0.  1.  0.  0.  0.  0.  0.  0.  1.  0.  0.  0.  1.  0.  1.  1.
  1.  1.  0.  0.  0.  1.  0.  0.  1.  1.  0.  0.  1.  0.  1.  0.  0.  1.
  1.  0.  0.  0.  1.  1.  0.  0.  0.  0.  0.  0.  1.  0.  1.  0.]
0.794542536116
[ 0.  0.  0.  0.  1.  0.  0.  0.  0.  0.  0.  1.  1.  0.  0.  1.  0.  0.
  1.  1.  0.  1.  0.  0.  0.  0.  1.  0.  1.  0.  1.  1.  0.  0.  1.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  1.  1.  0.  0.  0.  0.  0.  0.
  1.  1.  0.  1.  0.  0.  0.  0.  0.  0.  0.  0.  1.  0.  1.  0.  0.  0.
  0.  0.  1.  0.  0.  1.  0.  1.  0.  0.  0.  1.  0.  1.  0.  1.  0.  0.
  0.  0.  0.  1.  1.  0.  0.  1.  0.  0.  0.  0.  0.  1.  1.  0.  1.  1.
  0.  0.  0.  0.  0.  1.  0.  0.  0.  0.  0.  1.  0.  0.  0.  0.  1.  0.
  0.  1.  0.  0.  0.  1.  0.  0.  0.  0.  1.  0.  0.  0.  1.  0.  1.  0.
  1.  0.  0.  0.  0.  1.  0.  1.  0.  0.  1.  0.  1.  1.  1.  0.  0.  0.
  0.  1.  0.  0.  0.  0.  0.  0.  0.  0.  0.  1.  1.  0.  1.  0.  1.  0.
  0.  0.  0.  0.  1.  0.  1.  0.  0.  0.  1.  0.  0.  1.  0.  0.  0.  1.
  0.  0.  1.  0.  0.  0.  0.  0.  1.  1.  0.  0.  0.  0.  1.  0.  0.  0.
  0.  0.  0.  1.  0.  0.  0.  0.  0.  0.  1.  0.  0.  1.  1.  1.  1.  1.
  0.  1.  0.  0.  0.  1.  0.  0.  1.  1.  0.  0.  0.  0.  1.  0.  0.  1.
  1.  0.  0.  0.  1.  1.  0.  1.  0.  0.  1.  0.  1.  1.  0.  0.]
0.787313432836

In [22]:
test_frame = pandas.read_csv('test.csv')
test_frame = test_frame.drop(['Cabin','Embarked','Ticket', 'Name', 'Age'], axis=1)
test_frame.dropna()

     PassengerId  Pclass     Sex  SibSp  Parch      Fare
0            892       3    male      0      0    7.8292
1            893       3  female      1      0    7.0000
2            894       2    male      0      0    9.6875
3            895       3    male      0      0    8.6625
4            896       3  female      1      1   12.2875
5            897       3    male      0      0    9.2250
6            898       3  female      0      0    7.6292
7            899       2    male      1      1   29.0000
8            900       3  female      0      0    7.2292
9            901       3    male      2      0   24.1500
10           902       3    male      0      0    7.8958
11           903       1    male      0      0   26.0000
12           904       1  female      1      0   82.2667
13           905       2    male      1      0   26.0000
14           906       1  female      1      0   61.1750
15           907       2  female      1      0   27.7208
16           908       2    male      0      0   12.3500
17           909       3    male      0      0    7.2250
18           910       3  female      1      0    7.9250
19           911       3  female      0      0    7.2250
20           912       1    male      1      0   59.4000
21           913       3    male      0      1    3.1708
22           914       1  female      0      0   31.6833
23           915       1    male      0      1   61.3792
24           916       1  female      1      3  262.3750
25           917       3    male      1      0   14.5000
26           918       1  female      0      1   61.9792
27           919       3    male      0      0    7.2250
28           920       1    male      0      0   30.5000
29           921       3    male      2      0   21.6792
..           ...     ...     ...    ...    ...       ...
388         1280       3    male      0      0    7.7500
389         1281       3    male      3      1   21.0750
390         1282       1    male      0      0   93.5000
391         1283       1  female      0      1   39.4000
392         1284       3    male      0      2   20.2500
393         1285       2    male      0      0   10.5000
394         1286       3    male      3      1   22.0250
395         1287       1  female      1      0   60.0000
396         1288       3    male      0      0    7.2500
397         1289       1  female      1      1   79.2000
398         1290       3    male      0      0    7.7750
399         1291       3    male      0      0    7.7333
400         1292       1  female      0      0  164.8667
401         1293       2    male      1      0   21.0000
402         1294       1  female      0      1   59.4000
403         1295       1    male      0      0   47.1000
404         1296       1    male      1      0   27.7208
405         1297       2    male      0      0   13.8625
406         1298       2    male      1      0   10.5000
407         1299       1    male      1      1  211.5000
408         1300       3  female      0      0    7.7208
409         1301       3  female      1      1   13.7750
410         1302       3  female      0      0    7.7500
411         1303       1  female      1      0   90.0000
412         1304       3  female      0      0    7.7750
413         1305       3    male      0      0    8.0500
414         1306       1  female      0      0  108.9000
415         1307       3    male      0      0    7.2500
416         1308       3    male      0      0    8.0500
417         1309       3    male      1      1   22.3583

[417 rows x 6 columns]

In [23]:
print test_frame.to_string()

     PassengerId  Pclass     Sex  SibSp  Parch      Fare
0            892       3    male      0      0    7.8292
1            893       3  female      1      0    7.0000
2            894       2    male      0      0    9.6875
3            895       3    male      0      0    8.6625
4            896       3  female      1      1   12.2875
5            897       3    male      0      0    9.2250
6            898       3  female      0      0    7.6292
7            899       2    male      1      1   29.0000
8            900       3  female      0      0    7.2292
9            901       3    male      2      0   24.1500
10           902       3    male      0      0    7.8958
11           903       1    male      0      0   26.0000
12           904       1  female      1      0   82.2667
13           905       2    male      1      0   26.0000
14           906       1  female      1      0   61.1750
15           907       2  female      1      0   27.7208
16           908       2    male      0      0   12.3500
17           909       3    male      0      0    7.2250
18           910       3  female      1      0    7.9250
19           911       3  female      0      0    7.2250
20           912       1    male      1      0   59.4000
21           913       3    male      0      1    3.1708
22           914       1  female      0      0   31.6833
23           915       1    male      0      1   61.3792
24           916       1  female      1      3  262.3750
25           917       3    male      1      0   14.5000
26           918       1  female      0      1   61.9792
27           919       3    male      0      0    7.2250
28           920       1    male      0      0   30.5000
29           921       3    male      2      0   21.6792
30           922       2    male      1      0   26.0000
31           923       2    male      2      0   31.5000
32           924       3  female      1      2   20.5750
33           925       3  female      1      2   23.4500
34           926       1    male      1      0   57.7500
35           927       3    male      0      0    7.2292
36           928       3  female      0      0    8.0500
37           929       3  female      0      0    8.6625
38           930       3    male      0      0    9.5000
39           931       3    male      0      0   56.4958
40           932       3    male      0      1   13.4167
41           933       1    male      0      0   26.5500
42           934       3    male      0      0    7.8500
43           935       2  female      0      0   13.0000
44           936       1  female      1      0   52.5542
45           937       3    male      0      0    7.9250
46           938       1    male      0      0   29.7000
47           939       3    male      0      0    7.7500
48           940       1  female      0      0   76.2917
49           941       3  female      0      2   15.9000
50           942       1    male      1      0   60.0000
51           943       2    male      0      0   15.0333
52           944       2  female      2      1   23.0000
53           945       1  female      3      2  263.0000
54           946       2    male      0      0   15.5792
55           947       3    male      4      1   29.1250
56           948       3    male      0      0    7.8958
57           949       3    male      0      0    7.6500
58           950       3    male      1      0   16.1000
59           951       1  female      0      0  262.3750
60           952       3    male      0      0    7.8958
61           953       2    male      0      0   13.5000
62           954       3    male      0      0    7.7500
63           955       3  female      0      0    7.7250
64           956       1    male      2      2  262.3750
65           957       2  female      0      0   21.0000
66           958       3  female      0      0    7.8792
67           959       1    male      0      0   42.4000
68           960       1    male      0      0   28.5375
69           961       1  female      1      4  263.0000
70           962       3  female      0      0    7.7500
71           963       3    male      0      0    7.8958
72           964       3  female      0      0    7.9250
73           965       1    male      0      0   27.7208
74           966       1  female      0      0  211.5000
75           967       1    male      0      0  211.5000
76           968       3    male      0      0    8.0500
77           969       1  female      2      0   25.7000
78           970       2    male      0      0   13.0000
79           971       3  female      0      0    7.7500
80           972       3    male      1      1   15.2458
81           973       1    male      1      0  221.7792
82           974       1    male      0      0   26.0000
83           975       3    male      0      0    7.8958
84           976       2    male      0      0   10.7083
85           977       3    male      1      0   14.4542
86           978       3  female      0      0    7.8792
87           979       3  female      0      0    8.0500
88           980       3  female      0      0    7.7500
89           981       2    male      1      1   23.0000
90           982       3  female      1      0   13.9000
91           983       3    male      0      0    7.7750
92           984       1  female      1      2   52.0000
93           985       3    male      0      0    8.0500
94           986       1    male      0      0   26.0000
95           987       3    male      0      0    7.7958
96           988       1  female      1      0   78.8500
97           989       3    male      0      0    7.9250
98           990       3  female      0      0    7.8542
99           991       3    male      0      0    8.0500
100          992       1  female      1      0   55.4417
101          993       2    male      1      0   26.0000
102          994       3    male      0      0    7.7500
103          995       3    male      0      0    7.7750
104          996       3  female      1      1    8.5167
105          997       3    male      0      0   22.5250
106          998       3    male      0      0    7.8208
107          999       3    male      0      0    7.7500
108         1000       3    male      0      0    8.7125
109         1001       2    male      0      0   13.0000
110         1002       2    male      0      0   15.0458
111         1003       3  female      0      0    7.7792
112         1004       1  female      0      0   31.6792
113         1005       3  female      0      0    7.2833
114         1006       1  female      1      0  221.7792
115         1007       3    male      1      0   14.4542
116         1008       3    male      0      0    6.4375
117         1009       3  female      1      1   16.7000
118         1010       1    male      0      0   75.2417
119         1011       2  female      1      0   26.0000
120         1012       2  female      0      0   15.7500
121         1013       3    male      1      0    7.7500
122         1014       1  female      1      0   57.7500
123         1015       3    male      0      0    7.2500
124         1016       3    male      0      0    7.7500
125         1017       3  female      0      1   16.1000
126         1018       3    male      0      0    7.7958
127         1019       3  female      2      0   23.2500
128         1020       2    male      0      0   13.0000
129         1021       3    male      0      0    8.0500
130         1022       3    male      0      0    8.0500
131         1023       1    male      0      0   28.5000
132         1024       3  female      0      4   25.4667
133         1025       3    male      1      0    6.4375
134         1026       3    male      0      0    7.8958
135         1027       3    male      0      0    7.8542
136         1028       3    male      0      0    7.2250
137         1029       2    male      0      0   13.0000
138         1030       3  female      0      0    8.0500
139         1031       3    male      1      6   46.9000
140         1032       3  female      5      2   46.9000
141         1033       1  female      0      0  151.5500
142         1034       1    male      1      3  262.3750
143         1035       2    male      0      0   26.0000
144         1036       1    male      0      0   26.5500
145         1037       3    male      3      0   18.0000
146         1038       1    male      0      0   51.8625
147         1039       3    male      0      0    8.0500
148         1040       1    male      0      0   26.5500
149         1041       2    male      1      1   26.0000
150         1042       1  female      0      1   83.1583
151         1043       3    male      0      0    7.8958
152         1044       3    male      0      0       NaN
153         1045       3  female      0      2   12.1833
154         1046       3    male      4      2   31.3875
155         1047       3    male      0      0    7.5500
156         1048       1  female      0      0  221.7792
157         1049       3  female      0      0    7.8542
158         1050       1    male      0      0   26.5500
159         1051       3  female      0      2   13.7750
160         1052       3  female      0      0    7.7333
161         1053       3    male      1      1   15.2458
162         1054       2  female      0      0   13.5000
163         1055       3    male      0      0    7.0000
164         1056       2    male      0      0   13.0000
165         1057       3  female      1      1   22.0250
166         1058       1    male      0      0   50.4958
167         1059       3    male      2      2   34.3750
168         1060       1  female      0      0   27.7208
169         1061       3  female      0      0    8.9625
170         1062       3    male      0      0    7.5500
171         1063       3    male      0      0    7.2250
172         1064       3    male      1      0   13.9000
173         1065       3    male      0      0    7.2292
174         1066       3    male      1      5   31.3875
175         1067       2  female      0      2   39.0000
176         1068       2  female      0      0   36.7500
177         1069       1    male      1      0   55.4417
178         1070       2  female      0      3   39.0000
179         1071       1  female      0      2   83.1583
180         1072       2    male      0      0   13.0000
181         1073       1    male      1      1   83.1583
182         1074       1  female      1      0   53.1000
183         1075       3    male      0      0    7.7500
184         1076       1  female      1      1  247.5208
185         1077       2    male      0      0   16.0000
186         1078       2  female      0      1   21.0000
187         1079       3    male      2      0    8.0500
188         1080       3  female      8      2   69.5500
189         1081       2    male      0      0   13.0000
190         1082       2    male      1      0   26.0000
191         1083       1    male      0      0   26.0000
192         1084       3    male      1      1   14.5000
193         1085       2    male      0      0   12.3500
194         1086       2    male      0      2   32.5000
195         1087       3    male      0      0    7.8542
196         1088       1    male      0      2  134.5000
197         1089       3  female      0      0    7.7750
198         1090       2    male      0      0   10.5000
199         1091       3  female      0      0    8.1125
200         1092       3  female      0      0   15.5000
201         1093       3    male      0      2   14.4000
202         1094       1    male      1      0  227.5250
203         1095       2  female      1      1   26.0000
204         1096       2    male      0      0   10.5000
205         1097       1    male      0      0   25.7417
206         1098       3  female      0      0    7.7500
207         1099       2    male      0      0   10.5000
208         1100       1  female      0      0   27.7208
209         1101       3    male      0      0    7.8958
210         1102       3    male      0      0   22.5250
211         1103       3    male      0      0    7.0500
212         1104       2    male      0      0   73.5000
213         1105       2  female      1      0   26.0000
214         1106       3  female      4      2    7.7750
215         1107       1    male      0      0   42.5000
216         1108       3  female      0      0    7.8792
217         1109       1    male      1      1  164.8667
218         1110       1  female      1      1  211.5000
219         1111       3    male      0      0    8.0500
220         1112       2  female      1      0   13.8583
221         1113       3    male      0      0    8.0500
222         1114       2  female      0      0   10.5000
223         1115       3    male      0      0    7.7958
224         1116       1  female      0      0   27.4458
225         1117       3  female      0      2   15.2458
226         1118       3    male      0      0    7.7958
227         1119       3  female      0      0    7.7500
228         1120       3    male      0      0   15.1000
229         1121       2    male      0      0   13.0000
230         1122       2    male      0      0   65.0000
231         1123       1  female      0      0   26.5500
232         1124       3    male      1      0    6.4958
233         1125       3    male      0      0    7.8792
234         1126       1    male      1      0   71.2833
235         1127       3    male      0      0    7.8542
236         1128       1    male      1      0   75.2500
237         1129       3    male      0      0    7.2250
238         1130       2  female      1      1   13.0000
239         1131       1  female      1      0  106.4250
240         1132       1  female      0      0   27.7208
241         1133       2  female      0      2   30.0000
242         1134       1    male      1      1  134.5000
243         1135       3    male      0      0    7.8875
244         1136       3    male      1      2   23.4500
245         1137       1    male      1      0   51.8625
246         1138       2  female      0      0   21.0000
247         1139       2    male      1      1   32.5000
248         1140       2  female      1      0   26.0000
249         1141       3  female      1      0   14.4542
250         1142       2  female      1      2   27.7500
251         1143       3    male      0      0    7.9250
252         1144       1    male      1      0  136.7792
253         1145       3    male      0      0    9.3250
254         1146       3    male      0      0    9.5000
255         1147       3    male      0      0    7.5500
256         1148       3    male      0      0    7.7500
257         1149       3    male      0      0    8.0500
258         1150       2  female      0      0   13.0000
259         1151       3    male      0      0    7.7750
260         1152       3    male      1      0   17.4000
261         1153       3    male      0      0    7.8542
262         1154       2  female      0      2   23.0000
263         1155       3  female      1      1   12.1833
264         1156       2    male      0      0   12.7375
265         1157       3    male      0      0    7.8958
266         1158       1    male      0      0    0.0000
267         1159       3    male      0      0    7.5500
268         1160       3  female      0      0    8.0500
269         1161       3    male      0      0    8.6625
270         1162       1    male      0      0   75.2417
271         1163       3    male      0      0    7.7500
272         1164       1  female      1      0  136.7792
273         1165       3  female      1      0   15.5000
274         1166       3    male      0      0    7.2250
275         1167       2  female      1      0   26.0000
276         1168       2    male      0      0   10.5000
277         1169       2    male      1      0   26.0000
278         1170       2    male      1      0   21.0000
279         1171       2    male      0      0   10.5000
280         1172       3  female      0      0    8.6625
281         1173       3    male      1      1   13.7750
282         1174       3  female      0      0    7.7500
283         1175       3  female      1      1   15.2458
284         1176       3  female      1      1   20.2125
285         1177       3    male      0      0    7.2500
286         1178       3    male      0      0    7.2500
287         1179       1    male      1      0   82.2667
288         1180       3    male      0      0    7.2292
289         1181       3    male      0      0    8.0500
290         1182       1    male      0      0   39.6000
291         1183       3  female      0      0    6.9500
292         1184       3    male      0      0    7.2292
293         1185       1    male      1      1   81.8583
294         1186       3    male      0      0    9.5000
295         1187       3    male      0      0    7.8958
296         1188       2  female      1      2   41.5792
297         1189       3    male      2      0   21.6792
298         1190       1    male      0      0   45.5000
299         1191       3    male      0      0    7.8542
300         1192       3    male      0      0    7.7750
301         1193       2    male      0      0   15.0458
302         1194       2    male      0      1   21.0000
303         1195       3    male      0      0    8.6625
304         1196       3  female      0      0    7.7500
305         1197       1  female      1      1   26.5500
306         1198       1    male      1      2  151.5500
307         1199       3    male      0      1    9.3500
308         1200       1    male      1      1   93.5000
309         1201       3  female      1      0   14.1083
310         1202       3    male      0      0    8.6625
311         1203       3    male      0      0    7.2250
312         1204       3    male      0      0    7.5750
313         1205       3  female      0      0    7.7500
314         1206       1  female      0      0  135.6333
315         1207       3  female      0      0    7.7333
316         1208       1    male      1      0  146.5208
317         1209       2    male      0      0   10.5000
318         1210       3    male      0      0    7.8542
319         1211       2    male      2      0   31.5000
320         1212       3    male      0      0    7.7750
321         1213       3    male      0      0    7.2292
322         1214       2    male      0      0   13.0000
323         1215       1    male      0      0   26.5500
324         1216       1  female      0      0  211.3375
325         1217       3    male      0      0    7.0500
326         1218       2  female      2      1   39.0000
327         1219       1    male      0      0   79.2000
328         1220       2    male      1      0   26.0000
329         1221       2    male      0      0   13.0000
330         1222       2  female      0      2   36.7500
331         1223       1    male      0      0   29.7000
332         1224       3    male      0      0    7.2250
333         1225       3  female      1      1   15.7417
334         1226       3    male      0      0    7.8958
335         1227       1    male      0      0   26.0000
336         1228       2    male      0      0   13.0000
337         1229       3    male      0      2    7.2292
338         1230       2    male      0      0   31.5000
339         1231       3    male      0      0    7.2292
340         1232       2    male      0      0   10.5000
341         1233       3    male      0      0    7.5792
342         1234       3    male      1      9   69.5500
343         1235       1  female      0      1  512.3292
344         1236       3    male      1      1   14.5000
345         1237       3  female      0      0    7.6500
346         1238       2    male      0      0   13.0000
347         1239       3  female      0      0    7.2292
348         1240       2    male      0      0   13.5000

In [24]:
features_main_test = []
for index, row in test_frame.iterrows():
    X = []
    
    X.append(row['PassengerId'])
    X.append(row['Pclass'])
    
    if row['Sex'] == 'male':
        X.append(0)
    else:
        X.append(1)
    X.append(row['SibSp'])
    X.append(row['Parch'])
    
    if not math.isnan(row['Fare']):
        X.append(row['Fare'])
    else:
        X.append(0.0)
    
    features_main_test.append(X)
len (features_main_test)

418

In [25]:
features_main = np.array(features_main_test).astype(np.float64)

survived_predictions = classifier.predict(features_main)
len(survived_predictions)

418

In [27]:
with open('predictions.csv', 'wb') as csvfile:
    fieldnames = ['PassengerId', 'Survived']
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)
    writer.writeheader()
    
    #write the data.
    for index in range(0, len(survived_predictions)):
        writer.writerow({'PassengerId': features_main_test[index][0] , 'Survived': survived_predictions[index]})